.main {
  width: 70%;
  margin: auto;
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 3em;
}

#choix {
  width: 70vh;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  border: solid;
  border-color: lightblue;
  border-radius: 0.5rem;
}

#droppable {
  width: 70vh;
  height: 150px;
  padding: 0.5em;
  float: left;
  margin: 10px;
  border-radius: 0.5rem;
}

ul {
  width: 80%;
}

li {
  margin: 1em;
}

#valider {
  width: 3.5em;
  height: 1em;
  top: 0;
  text-decoration: none;
  padding: 0.125em 0 0.125em 0;
  text-align: center;
  border: solid;
  border-width: 0.125em;
  border-color: #3b82f6;
  border-radius: 0.5rem;
  background-color: #3b82f6;
  color: white;
  transition: width 500ms ease-in-out, height 500ms ease-in-out,
    top 500ms ease-in-out, background-color 1000ms ease-in-out,
    border-color 1000ms ease-in-out;
}
